nav{
    font-family: Calibri;
    font-size: large;
}
#top{
    font-family: "方正行楷简体";
    color: #53a6ff;
    font-weight: 200;
    font-size: 40px;
}
#mainContent{
    text-align: center;
    height:2000px;
}
body{
    text-align: center;
}
.carousel-inner{
    height: 200px;
}