nav{
    font-family: Calibri;
    font-size: large;
}
#top{
    font-family: "李旭科书法 v1.4";
    color: red;
    font-weight: 200;
    font-size: 40px;
}
#mainContent{
    text-align: center;
    height:2000px;
}
body{
    text-align: center;
}
.carousel-inner{
    height: 200px;
}