body{
    text-align: center;
}
/*.backgroundimg{*/
    /*z-index: 0;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*top: 0;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-size: cover;*/
    /*background-repeat: repeat-y;*/
    /*opacity: 0.5;*/
/*}*/

.myCarousel{width: 100%;margin-top: 40px  }
.item{width: 100%;height: 100%}
.item img{width: 100%;height: 100%}
.carousel-inner{height: 300px;  }
nav{opacity: 1;  }
nav:hover{animation: none;  }

.choices{
    overflow: hidden;
    min-width: 1175px;
    margin-top: 50px;
    height: 150px;
    background: rgba(128, 128, 128, 0);
}
.choices div{
    height: 150px;
}
.choices p{

    font-family: 方正行楷简体;
}
.choices .trangle{
    height: 0px;
    border: solid;
    border-left-width:80px;
    border-right-width: 80px;
    border-top-width:75px;
    border-bottom-width:  75px;
    border-color:  #30378e #30378e #1b80c9 #1b80c9    ;//上右下左
}
.choices .choice1{  background-color: #1b80c9; }
.choices .choice1 p{margin-top: 60px; color: #f5f5f5; font-size: 40px; }
.choices .choice2{  background-color: #30378e; }
.choices .choice2 p{margin-top: 30px; color: #f5f5f5;  font-size: 40px;}

.mid-header{
    height: 2px;
    margin-top: 60px;
    margin-left: 20px;
    text-align:left;
    border-top: 1px solid #b9b9b9;
}
.txt{
    /*font-style: italic;*/
    /*font-family: 方正行楷简体;*/
    font-size: 20px;
    position: relative;
    left: -10px;
    top:-25px;

}
.newMovie{
    display: block;
    min-width: 880px;
    margin-top: 10px;
    padding-left: 20px;
    text-align: left;
}
.Box{
    display: inline-block;
    margin: 5px;
    overflow: hidden;
}
.Box img{
    width: 100%;
    height: 100%;
}
.mask{
    color: white;
    height: 20%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    position: relative;
    top:-20%;
}
.mask p{
    display: inline;
    position: absolute;
    bottom: 5px;
}
.mask .movieName{
    position: absolute;
    left: 20px;
}
.mask .moviePointText{
    position: absolute;
    right: 60px;
}
.mask .moviePoint{
    font-size: 30px;
    position: absolute;
    bottom: -2px;
    right: 15px;
}
/*.mask:hover{
    opacity: 1;
}*/
.video{
    display: inline-block;
    margin: 5px;
    overflow: hidden;
    width: 560px;
    height: 315px;
}
.movie0{
    height: 315px;
    width: 250px;
    margin-left: 20px;
}
.movie{
    height: 260px;
    width:200px;
}
.ranksd .ranks{width:80%;padding-top: 10px;padding-bottom: 20px; margin-left: 27px; border: solid 1px rgba(220, 208, 255, 0.44);text-align: center ;border-radius: 5px }
.ranks li{list-style: none;width: 90%;margin-left:20px;margin-top:5px;font-size: 20px;border-bottom: solid 1px rgba(76, 76, 76, 0.13)
}
.ranks li .rankcenter{width: 20%;display: inline-block}
/*.ranks li .rankcenter2{width:50%;display: inline-block}*/
li *{display: inline}
.ranks{margin-left: 10px;padding-left: 0%}
.rank{min-height: 20px}
.rank p{font-size: 20px ;}
.ranks .top3{font-size: 30px}
.top3 .award{width: 30px;height: 30px; left: 0px;text-align: left}
.top3 img{width: 20px;height: 30px;margin-right: 5px}
.top10 img{width: 10px;height: 15px;margin-right: 2px;font-weight:200}
.hot{color: #ff9b6c  }


.commetPage{
    display: none;
}
.commetPage .ranksd .ranks{
    width: 100%;
    margin-left: 0px;
}
.top3 .briefContent,.writer{
      font-size: 20px;
  }
.briefContent,.writer{
    font-size: 15px;
}
.comment .dianzan{
    float: right;
}
.comment{
    padding: 5px;
    list-style: none;
    border: solid silver 0px;
    border-radius: 10px;
    box-shadow: 2px 1px 1px #adadad;
    margin-top: 5px;
    margin-bottom: 3px;
}
.comment .title{
    float: left;
    display: inline;
}
.comment .writer{
    float: right;
}
.commentHR{
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
    height: 10px;
}

.bottom{
    height: 200px;
    width: 100%;
    background: transparent;
}
