nav{opacity: 1;  }
nav:hover{animation: none;  }

.mainpage{
    background-color: white;
    border: solid silver 1px;
    border-bottom: none;
    margin-top: 200px;
    min-height: 800px;
}
.header{
    height: 2px;
    margin-top: 60px;
    margin-left: 20px;
    text-align:left;
    /*border-top: 1px solid #b9b9b9;*/
}
.mainpic{
    width: 300px;
    position: relative;
    left: 20px;
    top:-200px;
}
.title{
    border-left: 4px solid #006599;
    font-size: 20px;
    margin-top: 20px;

}
#briefInfo{
    margin-top: 100px;
}
#introduce{
    white-space:normal;
    max-width: 800px;
}
#info{
 margin-left: 400px;
}

.Input_Box {
    margin-top: 10px;
    margin-left: 50px;
    width: 100%;
    height: 130px;
    border: 1px solid #ccc;
    transition: border linear .2s, box-shadow linear .5s;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    box-shadow: 0 0 5px #ccc;
}
.Input_Box>textarea {
    padding: 5px;
    outline: none;
    border: 0px solid #fff;
    resize: none;
    font-size: 13px;
    border-radius: 5px;
}
.Input_text1{height: 30px;border-bottom: 1px solid #ccc;font-weight: bold}
.Input_text2{height: 60px}
.Input_Foot {
    width: 100%;
    height: 20px;
    border-top: 1px solid #ccc;
    background-color: #fff;
    border-radius: 0 0 5px 5px;
}

.postBtn {
    font-size: 13px;
    color: #808080;
    padding: 9px 20px 7px 20px;
    border-left: 1px solid #ccc;
    cursor: pointer;
    border-radius: 0 0 5px 0;
}
.postBtn:hover {
    color: #333;
    background-color: #efefef;
}
.postBtn:active {
    padding: 10px 20px 6px 20px;
}


.comments{
    margin-top: 20px;
}
.comment{
    margin-left: 90px;
    padding: 5px;
    list-style: none;
    border: solid silver 0px;
    border-radius: 10px;
    box-shadow: 0 0 5px #ccc;
    margin-bottom: 3px;
}
.comment hr{
    margin-top: 5px;
    margin-bottom: 2px;
    height: 10px;
}

.bottom{
    height: 250px;
    width: 100%;
    background: transparent;
}
.bottom hr{
    margin-top: 100px;
    margin-bottom: 150px;
}