#top{
}
body{

    /*background-color: #f4f6f9;*/
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}
.MS>div{
    background-color: rgba(255, 255, 255, 0.96);
}

#userInfo{
    width: 35px;
    height: 35px;
    margin-top: 10px;
}
/*右侧标签菜单*/
#tabMenu{
    box-shadow: 3px 3px 1px #b8b8b8;
    border: 1px  solid #c4c4c4;
    border-right: none;
    border-radius: 1px;
}
#tabMenu ul{
    margin-top: 200px;
    margin-bottom: 100px;
}
#tabMenu ul li a{
    color: black;
}
/*当前选择*/
.current{
    background-color: #adadad;
}
.ncurrent{
    background-color: transparent;
}

/*用户信息*/
#myInfo{
    box-shadow: 3px 3px 1px #b8b8b8;
    padding-top: 80px;
    height: 600px;
    border: 1px  solid #c4c4c4;
    border-radius: 3px;
}
/*用户信息*/
.title{
    font-size: 35px;
}
.information ul li{
    min-height: 30px;
    list-style: none;
}
.information ul li p{
    margin-right: 15px;
    display: inline;
}
.information ul{
    padding-right: 0px;
}
#changeInfo{
    float: right;
}
/*头像*/
.userimg ul li{
    list-style: none;
}
#touxiang{
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
#changeImg{
    margin-left: 18px;
}
/*我的影评*/
#myComment{
    display: none;
    box-shadow: 3px 3px 1px #b8b8b8;
    padding-top: 80px;
    min-height: 600px;
    border: 1px  solid #c4c4c4;
    border-radius: 3px;
}
#myComment .title a{font-size: 20px;text-decoration: underline}
#myComment ul{
    padding-right: 40px;padding-left: 40px;
    padding-top: 0px;

}
.comment{
    padding: 5px;
    list-style: none;
    border: solid silver 0px;
    border-radius: 10px;
    box-shadow: 2px 1px 1px #adadad;
    margin-bottom: 3px;
}
.comment hr{
    margin-top: 5px;
    margin-bottom: 2px;
    height: 10px;
}
/*我的收藏*/
#myCollection{
    display: none;
    box-shadow: 3px 3px 1px #b8b8b8;
    padding-top: 80px;
    min-height: 600px;
    border: 1px  solid #c4c4c4;
    border-radius: 3px;
}
.modal *{color: white}
/*修改个人信息*/
#changeBox{background-color: rgb(70, 148, 185);width: 70%;margin-left:15%; overflow: hidden;}
#changeBox .modal-body{width: 100%}
#changeBox ul{list-style: none;width: 100%;}
#changeBox ul li{width: 100%;height: 60px;padding-bottom: 20px}
#changeBox ul li input{width: 70%;height: 30px;background-color: rgb(68, 140, 175);border: 1px transparent ;border-radius: 3px}
#changeBox ul li input:hover{background-color: rgb(74, 169, 208);}
#changeBox ul li .confirm{margin-left: 12%;background-color: rgb(74, 169, 208);}
#changeBox ul li .confirm:hover{background-color: rgb(78, 180, 220);}
/*添加影评*/
#AddComment .Input_Box {
    padding: 20px;
    margin-top: 80px;
    border-radius: 5px;
    background-color: rgb(80, 169, 210);
    overflow: hidden;

}
#AddComment .Input_Box textarea{

    outline: none;
    border: 0px;
    resize: none;
    background-color: rgb(80, 169, 210);
    border-radius: 5px;
}
#AddComment .Input_Box textarea::-webkit-input-placeholder { /* WebKit browsers */
    color: white;
}
#AddComment .Input_Box textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: white;
}
#AddComment .Input_Box textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: white;
}
#AddComment .Input_Box textarea:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:white;
}
#AddComment .Input_text1{height: 40px;border-bottom: 1px solid #ccc;font-weight: bold;font-size:16px}
#AddComment .Input_text2{height: 260px;font-size: 13px;}
#AddComment .Input_Foot {
    width: 100%;
    height: 40px;
    border-top: 1px solid #ccc;
    background-color: rgb(80, 169, 210);
    border-radius: 0 0 5px 5px;
}
#AddComment .postBtn{background: transparent;height: 35px; width: 100px;border: solid 1px silver;border-radius:5px ;margin-top: 7px}
#AddComment .postBtn:hover{font-weight: bold}
#AddComment .postBtn:active{background: silver}
/*我的收藏*/
.section{
    text-align:center;
    width:3px;
    height:1000px;
    background:#969797;
    margin-left:20%;
    margin-top: 100px;
    border-radius:3px;
    position:relative;
    -webkit-animation:slide 4s linear;
}
@-webkit-keyframes slide{
    0%{
        height:0px;
    }
    100%{
        height:1000px;
    }
}
@-webkit-keyframes showIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.section .text1 h2,.section .text2 h2,.section .text3 h2{
    position: absolute;
    margin-left: -90px;
    margin-top: 20px;
    width: 70px;
    height: 20px;
    color: #969797;
    font-size: 14px;
    font-family: 微软雅黑;
    -webkit-animation: showIn 3s ease;
    left: -6px;
    top: 10px;
}
.section .text1 h1,.section .text2 h1,.section .text3 h1{
    position: absolute;
    margin-left: -100px;
    margin-top:-15px;
    width:50px;
    color:#969797;
    font-size:30px;
    font-family:微软雅黑;
    -webkit-animation:showIn 3s ease;
}
.section:after{
    content:"待 续";
    width:100px;
    color:#969797;
    position:absolute;
    margin-left: -50px;
    bottom: -30px;
    font-family:微软雅黑;
    -webkit-animation: showIn 4s ease;
}
.section .text1,.section .text2,.section .text3{
    position: absolute;
    margin-left: -7px;
    margin-top:-5px;
    width:10px;
    height:10px;
    border-radius: 50%;/*使变成圆*/
    border:4px solid #939090;
    background:#DCDBDB;
    -webkit-transition: all 0.5s;
    -webkit-animation: showIn ease forwards;
    opacity: 0;
}
.section .text1{
    margin-left: -7px;
    margin-top:0px;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 0s;
}

.section .text2{
    margin-left: -7px;
    margin-top:350px;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1s;
}
.section .text3{
    margin-left: -7px;
    margin-top:720px;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 2s;
}
.section .text1:hover,.section .text2:hover,.section .text3:hover{
    border:4px solid lightblue;
    background: #D7D5D5;
    box-shadow: 0 0 1px 1px #DBF2F8;
}
.section .text1 .words,.section .text2 .words,.section .text3 .words{
    position: absolute;
    top:50%;
    left:400px;
    width: 250px;
    overflow: hidden;
    font-family:微软雅黑;
    border:3px solid #999696;
    border-radius:5px;
    -webkit-animation: showIn 3s ease;
    -webkit-transition: all 0.5s;
}
.description{
    font-size:14px;
    line-height: 1.5em;
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 30px;
    text-align: left;
}