@keyframes BarHover {
    0%{ opacity: 0;}
    100%{opacity: 1}
}
@keyframes BarLeave {
    0%{ opacity: 1;}
    100%{opacity: 0;}
}
nav:hover{
    animation: BarHover 1s;
    opacity: 1;
}
nav{
    opacity: 0;
    font-family: "方正行楷简体";
    font-size: large;
    border-bottom: none;
}
.dropdown-menu{
    text-align: left;
    min-width: 30px;
}
.dropdown #acountMenu{
    min-width: 20px;
    font-size: 16px;
    text-align:left;
    margin-left: 25px;
}
.dropdown ul li{
    font-size: 16px;
    font-weight: bold;
}
#logined .dropdown-toggle{
    padding-top: 10px;
    padding-bottom: 0px;
}
.dropdown ul li img{
    padding: 0px;
    margin: 0px;
    height: 20px;
    width: 20px;

}
/*用户头像*/
#userInfo{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
#logined p{margin-top: 50px}
#top{
    color: #2aabd2;
    font-size: large;
}