@font-face {
    font-family: 方正行楷;
    src: url("/content/FZXKJW.TTF") format("truetype"),url("/content/FZXKJW.svg") format("svg");

}
@keyframes BarHover {
    0%{ opacity: 0;}
    100%{opacity: 1}
}
@keyframes BarLeave {
    0%{ opacity: 1;}
    100%{opacity: 0;}
}
nav:hover{
    animation: BarHover 1s;
    opacity: 1;
}
nav{
    opacity: 0;
    font-family: 方正行楷;
    font-size: large;
    border-bottom: none;
}
.dropdown-menu{
    text-align: left;
    min-width: 30px;
}
.dropdown #acountMenu{
    min-width: 20px;
    font-size: 16px;
    text-align:left;
    margin-left: 25px;
}
.dropdown ul li{
    font-size: 16px;
    font-weight: bold;
}
#logined .dropdown-toggle{
    padding-top: 10px;
    padding-bottom: 0px;
}
.dropdown ul li img{
    padding: 0px;
    margin: 0px;
    height: 20px;
    width: 20px;

}
/*用户头像*/
#userInfo{
    border-radius: 50%;
    height: 30px;
    width: 30px;
}
nav li p{
    margin-top: 10px;
}
#top{
    color: #2aabd2;
    font-size: large;
}

/*登录注册*/
.modal-dialog{
    padding-top: 0px;
    width: 40%;
    height: 60%;
    margin-top:5%;
    /*    background-color: white;*/
}

.LoginBox{
    width:65%;
    height: 100%;
    background-color: #87bad2;
    margin:auto;
    border-radius: 7px;
    border: 1px solid;
}

.loginContent{
    list-style: none;
    padding: 20px;
}
.loginTitle{
    text-align: center;
    color: #ffffff;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 40px;
    font-weight: bold;
    font-family: 方正行楷;
}
hr{
    margin-top: 5px;
}

/*登陆框中按钮*/
.loginbtn{
    width: 80%;
    height: 40px;
    margin-top: 20px;

    font-family: 方正行楷;
    font-size: 18px;
    color: #ffffff;
    background-color: #42a6cd;
    border-radius: 5px;
    border: 0px solid #d7d7d7;

}
.loginbtn:hover{
    border-radius: 8px;
    border: 1px solid white;
}
.loginbtn:active{
    background-color: #3a94b9;

}
form ul li{
    margin-top: 10px;
    width: 100%;
    background-color:transparent;

}
form ul li div{
    height: 40px;
    padding: 5px;

}
.loginInput{
    background-color: #cfe0e7;
    border: 1px solid transparent;
    border-radius: 5px;
    width: 80%;
    height: 40px;
    margin-left: 15px;
}
.loginInput:hover{
    background-color:white;
}
.loginInput:active{
    background-color: white;
}
.centeroflogin{
    margin-left: 40px;
}
.userIcon{
    width: 30px;
    height:30px;
}
#navusername{margin-top: 10px}