@font-face {
    font-family: 方正行楷;
    src: url("/content/FZXKJW.TTF") format("truetype"),url("/content/FZXKJW.svg") format("svg");

}
body{
    min-width: 1500px;
}

#WelcomeImage{
/*    background-size: contain;
    width:100%;*/
    width:100%;
}
@keyframes appearLeft {
    0%{opacity: 0;left: 0px}
    50%{opacity: 0.7}
    100%{opacity: 1;left: 20%;}
}
@keyframes appearRight {
    0%{opacity: 0;left: 77%}
    50%{opacity: 0.7}
    100%{opacity: 1;left: 60%;}
}
/*主标题*/
#mTitle{
    min-width: 1000px;
    animation: appearLeft 4s;
    font-size: 200px;
    font-family: 方正行楷;
    color: white;
    position:absolute;
    left: 20%;
    top:25%;
}
/*描述文字*/
#info{
    min-width: 330px;
    animation: appearRight 4s ;
    font-size: 25px;
    font-family: 方正行楷;
    color: white;
    position:absolute;
    left: 60%;
    top:57%;
}
.bg{
    text-align: center;
    width: 100%;
}
/*按钮动画*/
@keyframes btnappear {
    0%{opacity: 0}
    25%{opacity: 0}
    100%{opacity: 0.7}
}
/*我的按钮*/
.mybtn{
    animation: btnappear 5s ;
    border: 1px #c5cccc solid;
    border-radius: 5px;
    position:absolute;
    width: 20%;
    height: 6%;
    left: 42.5%;
    opacity: 0.7;
    font-size: 18px;
}
/*登录按钮*/
#login{
    background-color: white;
    font-weight: bold;
    color: #165d77;
    top:73%;
}
/*游客按钮*/
#tour{
    background-color: transparent;
    font-weight: bold;
    color: white;
    top:85%;
}
/*注册链接*/
@keyframes sianappear {
    0%{opacity: 0}
    25%{opacity: 0}
    100%{opacity:1}
}
#sign{
    animation: sianappear 5s ;
    color: white;
    position: absolute;
    top: 79%;
    left: 48%;
}
.mybtn:active{
    border: 3px #c5cccc solid;
    border-radius: 10px;
    box-shadow: white ;
}
.mybtn:hover{
    border: 5px #c5cccc solid;
    border-radius: 10px;
}

